@page "/about"


<div class="about-us">
    <section>
        <h2>Who are we?</h2>
        <p>
            Welcome to the<strong>MovieAtlas</strong>website.</p>
        
            <h3>What We Do:</h3>
<p>
            <h3> View popular movies</h3>

             User will be welcomed in the home page, they will have an option to press a buttton to view the top 10 most popular movies.

            <h3> Search for a movie</h3>

            The user can search for a speacific movie, if a movie will be found and the description will be displayd

            <h3> News articles</h3>

            User is able to view all the articles realted to the movie world, which gives them the ability to view the website.


        </p>

    </section>
    <footer>
        <p>    Thank you for visiting the MovieAtlas page! © 2024</p>
    </footer>
   </div>

