@page "/"

<PageTitle>Home</PageTitle>
<body>
<div class="container">
    <header>
        <h1>Welcome to MovieDB Website</h1>
        <p>Explore the greatest films from around the world.</p>
    </header>

    <section>
        
    </section>

    <footer>
        <p>Thank you for visiting the MovieDb page! © 2024</p>
    </footer>

</div>
</body>