@page "/popular-movies"
@inject HttpClient Http
<h1>Top 10 Most Popular Movies Of 2025</h1>
<button @onclick="PopularMovie">Press</button>
@code {
    private List<Movie> movies = new();
    private bool isLoading = false;
    private async Task PopularMovie()
    {
        isLoading = true;
        try
        {
            var url = $"https://api.themoviedb.org/3/movie/popular?api_key=9fb03db06401769da1426077f6d5fd9c";
            var response = await Http.GetFromJsonAsync<MovieResponse>(url);
            movies = response?.Results.Take(10).ToList();
        }
        catch (Exception ex)
{
            Console.Error.WriteLine($"Error: {ex.Message}");
            movies = new List<Movie>();
        }
        finally
        {
            isLoading = false;
        }
    }
    public class Movie{
        public string Title { get; set; }
    }
    public class MovieResponse
    {
        public List<Movie> Results { get; set; }
    }
}
