@inherits LayoutComponentBase

<div class="page">
    <div style="background-image:none;background-color:turquoise;" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="page">

            <a href="/" class="navbar-brand">
                <img src="/sample-data/db.png" alt="MusicManager Logo" class="logo" />


            </a>
        </div>
        <article class="content px-1">
            @Body
        </article>
    </main>
</div>
