@inherits LayoutComponentBase

<div class="page">
    <div style="background-image:none;background-color:turquoise;" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="page">

            <a href="/" class="navbar-brand">
                <img src="/sample-data/Logo.png" alt="MusicManager Logo" class="logo" />


            </a>
        </div>
 <div class="right-images">
            <img src="images/Smile_2.jpg" alt="Smile Movie Poster">
            <img src="images/Venom.jpg" alt="Venom Movie Poster">
            <img src="images/Gladiator.jpeg" alt="Gladiator Movie Poster">
            <img src="images/moana.jpg" alt="Moana Poster">
        </div>

        <article class="content px-1">
            @Body
        </article>
    </main>
</div>
<style>
    .right-images {
        width: 150px; 
        position: fixed;
        top: 0;
        right: 0; 
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
    }

        .right-images img {
            width: 100%;
            margin-bottom: 20px; 
            max-height:600px; 
            object-fit: cover; 
        }
</style>